<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899491855193-cu0bpde89qq24q1dhg71bq2lrfhlcipr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899491855193-cu0bpde89qq24q1dhg71bq2lrfhlcipr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>899491855193-p6j2sskf6ntgflbjn4o19nnfesc2d9lu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmEXsGJAU-yTHDh5xJ1e7LEBk7shr_OsM</string>
	<key>GCM_SENDER_ID</key>
	<string>899491855193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>chamba-9f6db</string>
	<key>STORAGE_BUCKET</key>
	<string>chamba-9f6db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899491855193:ios:8d14ccd3462745c1af6a48</string>
</dict>
</plist>